@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #f7f7f7;
}

.wrapper{
	background: #fff;
	width: 450px;
	border-radius: 16px;
	box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.1),
				0px 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* styling for form */


.form{
	padding: 25px 30px;
}

.form header{
	font-size: 25px;
	font-weight: 600;
	border-bottom: 2px solid #513E3E;
	padding-bottom: 10px;
	text-align: center;
}

.form form{
	margin: 20px 0px;
}

.form form .error-txt{
	color: #DD3333;
	background: #FAA3A3;
	padding: 10px 10px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 10px;
	display: none;
}

.form form .name-detail{
	display: flex;
}

form .name-detail .field:first-child{
	margin-right: 10px;
}

form .name-detail .field:last-child{
	margin-left: 10px;
}

form .field label{
	margin-bottom: 2px;
}

.form form .field{
	display: flex;
	position: relative;
	flex-direction: column;
	margin-bottom: 8px;
}

/* eye icon set */
.form form .field i{
	position: absolute;
	right: 15px;
	top: 55%;
	cursor: pointer;
	opacity: 50%;
}

/* Further css */

.form form .input input{
	outline: none;
	height: 40px;
	width: 100%;
	font-size: 16px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.form form .image input{
	font-size: 14px;
}

.form form .button input{
	margin-top: 10px;
	height: 44px;
	background: #333;
	color: #fff;
	font-size: 17px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.form form .link{
	text-align: center;
	margin-top: 10px;
	font-size: 17px;
}

.form form .link a{
	color: #333;
}

.form form .link a:hover{
	text-decoration: underliner;
}

/* user Area Css */

.users{
	padding: 25px 30px;
}

.users header,
.user-list a{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-between;
	border-bottom: 1px solid #1c1c1c;
}

.wrapper img{
	object-fit: cover;
	border-radius: 50%;
	
}

.users header .content,
.user-list a .content{
	display: flex;
	align-items: center;
}

.users header .content img{
	height: 50px;
	width: 50px;
}

.users header .detail,
.user-list .detail{
	color: #000;
	margin-left: 15px;
	margin-top: 3px;
}

.users header .detail span,
.user-list .detail span{
	font-size: 18px;
	font-weight: 600;
}

.users header .logout{
	padding: 7px 8px;
	background: #333;
	color: #fff;
	font-size: 20px;
	border-radius: 3px;
	cursor: pointer;
}

.users .search{
	margin: 15px 0;
	display: flex;
	flex-direction: row;
}

.user .search span .text{
	font-size: 10px;
}

.users .search input{
	width: 90%;
	height: 35px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	outline: none;
	padding: 0 13px;
	opacity: 0;
	pointer-events:none;
	transition: all 0.3 ease;
}

.users .search input.active{
	opacity: 1;
	pointer-events: auto;
}

.users .search button{
	margin: 0 5px;
	padding: 0 10px;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	border: 1px solid #333;
	color: #fff;
	background: #333;
	font-size: 17px;
}

.users .user-list{
	max-height: 300px;
	overflow-y: auto;
}

.user-list::-webkit-scrollbar{
	width: 0px;
}


.user-list a{
	padding-right: 20px;
	margin-top: 10px;
	page-break-after: 10px;
	border-bottom-color: #f1f1f1;
}

.user-list a:last-child{
	border: none;
	margin-bottom: 0px;
}


.user-list a .content img{
	height: 40px;
	width: 40px;
}

.user-list a .content p{
	color: #67676a;
}

.user-list a .status-dot{
	color: #468669;
	font-size: 12px;
}

/* This will use in PHP to show offline */

.user-list a .status-dot.offline{
	color: #ccc;
}

/* Chat area CSS */

.chat-area header{
	display: flex;
	align-items: center;
	padding: 18px 30px;
}

.chat-area header .back-icon{
	font-size: 18px;
	color: #333;
}

.chat-area img{
	height: 45px;
	width: 45px;
	margin: 0 15px;
}

.chat-area header span{
	font-size: 17px;
	font-weight: 600;
}

.chat-box{
	height: 450px;
	background: #f7f7f7;
	padding: 10px 30px 20px 30px;
	box-shadow: inset;
}

.chat-box .outgoing{
	display: flex;
}


.chat-box .chat p{
	word-wrap: break-word;
	padding: 10px 16px;
}

.outgoing .detail{
	margin-left: auto;
	max-width: calc(100% - 130px);
}

.outgoing .detail p{
	background: #333;
	color: #fff;
	border-radius: 18px 18px 0 18px;
}

.chat-box{
	max-height: 350px;
	overflow-y: auto;
}

.chat-box::-webkit-scrollbar{
	width: 0px;
}

.chat-box .incoming{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.chat-box .incoming img{
	height: 40px;
	width: 40px;

}

.incoming .detail{
	margin-top: 5px;
	margin-right: auto;
	max-width: calc(100% - 130px);
}

.chat-box .incoming .detail p{
	color: #333;
	background: #fff;
	border-radius: 18px 18px 18px 0;
	margin-top: 10px;
}

.chat-area .typing-area{
	background: #fff;
	padding: 18px 30px;
	display: flex;
	justify-content: space-between;
	border-radius: 16px 16px;
}

.typing-area input{
	border: 1px solid #ccc;
	height: 45px;
	font-size: 17px;
	padding: 0 13px;
	width: calc(100% - 50px);
	border-radius: 5px 0 0 5px;
	outline: none;
	text-decoration: none;
}

.typing-area button{
	color: #fff;
	background: #333;
	font-size: 20px;
	width: 45px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	border: none;
	outline: none;
}





